.micro_tipos, .micro_montajes{
    background-color: $color-bg-main;

    ul {
        list-style-image: url("../../images/ok\ \(1\).png");

        
    }
                
            
            //     li::before {
            //         content: '';
            //         display: inline-block;
            //         height: 20px;
            //         width: 20px;
            //         background-size: contain;
            //         background-image: url("../../images/ok\ \(1\).png");
            //         margin-right: 5px;
            //         }
            //     }
            // ul {
            //     list-style-image: url("../../images/ok\ \(1\).png");

                
            // }

}


.section1 {
    
    background-image: linear-gradient( rgb(255 255 255 / 50%), rgba(129, 78, 23, 0.35) ),url(../../images/insumos.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
        @include media-breakpoint-up(md){
            background-position: center;
            height: auto;
        }

    
    padding-top: 11rem;

        @include media-breakpoint-up(sm){
            padding-top:5rem;
        }
        @include media-breakpoint-up(xl){
            padding-top:8rem;
        }

    &>.container {
        display: flex;
        flex-direction: column;
        // @include media-breakpoint-up(lg) {
        //     flex-direction: row;
        // }

        
    }

    &_left {
        text-align: center;
        text-shadow: 1px 1px 2px rgba(255, 253, 253, 0.89);

        @include media-breakpoint-up(lg) {
            width: 70%;
            text-align: left;
            height: 270px;
        }

        

        &_subtitle{
            font-size: 2rem;
            margin: auto;
            width: fit-content;
            margin-bottom: 13px;
            padding: 7px 10px;
            border-radius: 6px;
            background-color: hsla(0, 0%, 100%, 0.39);
            color: #000;

            @include media-breakpoint-up(lg) {
                margin: inherit;
                
            }
        }
    }

    // &_right {
    //     text-align: center;
    //     @include media-breakpoint-up(lg) {
    //         width: 30%;
    //         text-align: right;
    //     }
    //     img {
    //         width: 65%;
    //         opacity: 0.9;
    //         border-radius: 20%;
    //     }
    // }

}


.quienes_somos{

    .tipo{
        font-size: 1.5rem;
        text-align: justify;
       
    }
  
}



.micro_tipos{
    padding: 4rem 0;

   

    &>.container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
 
    }
        
    .tipo{
        
        font-size: 1.5rem;
        text-align: justify;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(lg) {
            width: 59%;
            padding: 2rem 3rem 2rem 0;
        }

        .tipoB{
            margin-top: 4rem;

           
            
        }
        
        
    }

    .tipo_img{
        
        background-image: url(../../images/plancha.jpg);
        background-position: center;
        background-size: cover;
        width: 85%;
        height: 340px;
        align-self: center;
        border-radius: 1rem;

        @include media-breakpoint-up(lg) {
            width: 40%;
            
        }
    }

}
  



.micro_montaje{
    padding: 3rem 0;

    ul {
        list-style-image: url("../../images/ok\ \(1\).png");

        
    }

    &>.container {
        display: flex;
        gap:2rem;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;
        }
 
    }
    
    .montaje{
        
        font-size: 1.5rem;
        text-align: justify;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(lg) {
            width: 59%;
            padding: 2rem 0rem 2rem 2rem;
        }

    }

    .montaje_img{
        background-image: url(../../images/montaje2.jpg);
        background-position: bottom;
        background-size: cover;
        width: 85%;
        height: 340px;
        align-self: center;
        border-radius: 1rem;
        

        @include media-breakpoint-up(lg) {
            width: 40%;
            
        }
    }
}

