.micro_tipos , .micro_montaje{

   
    
    ul {
        list-style: none;

        i{
            font-size: 1.9rem;
            color:$color-menu;
            margin-right: 0.5rem;
        }
    }
}



.section1 {
    
    // background-image: linear-gradient( rgb(255 255 255 / 50%), rgba(129, 78, 23, 0.35) ),url(../../images/fondo4.jpg);
    background-image: linear-gradient(182deg,rgba(255, 255, 255, 40%), rgba(129, 78, 23, 30%)), url(../../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 7% 50%;
        @include media-breakpoint-up(sm){
            background-position: center;
            height: auto;
        }
        @include media-breakpoint-up(lg){
            background-position: center 25%;
            height: auto;
        }

    
        padding-top: 11rem;

            @include media-breakpoint-up(sm){
                padding-top:5rem;
            }
            @include media-breakpoint-up(xl){
                padding-top:8rem;
            }

    &>.container {
        display: flex;
        flex-direction: column;
        

        
    }

    &_left {
        text-align: center;
        text-shadow: 2px 1px 2px rgba(255, 253, 253, 0.59);

        @include media-breakpoint-up(lg) {
            width: 70%;
            text-align: left;
            height: 270px;
        }

        

        &_subtitle{
            font-size: 2rem;
            margin: auto;
            width: fit-content;
            margin-bottom: 13px;
            padding: 7px 10px;
            border-radius: 6px;
            background-color: hsla(0, 0%, 100%, 0.49);
            color: #000;

            @include media-breakpoint-up(lg) {
                margin: inherit;
                
            }
        }
    }

    
}


.quienes_somos{
    margin-top: 1rem;

    .tipo{
        // font-size: 1.5rem; toma el de globals body
        text-align: justify;
       
    }
  
}



.micro_tipos{
    background-color: $color-bg-main;
    

   

    &>.container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
 
    }
        
    .tipo{
        
        // font-size: 1.5rem; toma el de globals body
        text-align: justify;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(lg) {
            width: 59%;
            padding: 2rem 3rem 2rem 0;
        }

        .tipoB{
            margin-top: 4rem;
                      
        }
     
        
    }

    .tipo_img{
        
        background-image: url(../../images/microsimplefaz.jpg);
        background-position: center;
        background-size: cover;
        width: 85%;
        height: 340px;
        align-self: center;
        border-radius: 1rem;

        @include media-breakpoint-up(lg) {
            width: 40%;
            
        }
    }

}
  



.micro_montaje{
    padding: 3rem 0;

    
    &>.container {
        display: flex;
        gap:2rem;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;
        }
 
    }
    
    .montaje{
        
        // font-size: 1.5rem; toma el de globals body
        text-align: justify;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(lg) {
            width: 59%;
            padding: 2rem 0rem 2rem 2rem;
        }

    }

    .montaje_img{
        background-image: url(../../images/montaje2.jpg);
        background-position: bottom;
        background-size: cover;
        width: 85%;
        height: 340px;
        align-self: center;
        border-radius: 1rem;
        

        @include media-breakpoint-up(lg) {
            width: 40%;
            
        }
    }
}

